%form{method: "post", action: "/sessions"}
    .field
        %label{for: "username", class: "label"} Username
        %input{type: "text", name: "username", class: "input"}

    .field
        %label{for: "password", class: "label"} Senha
        %input{type: "password", name: "password", class: "input"}

    .field
        %input{type: "submit", value: "Login", class: "button is-dark"}
