%form{method: "post", action: "/users"}
  .field
    %label{for: "username", class: "label"} Username
    %input{type: "text", name: "username", class: "input"}

  .field
    %label{for: "password", class: "label"} Senha
    %input{type: "password", name: "password", class: "input"}

  .field
    %label{for: "password_confirmation", class: "label"} Confirmacao da Senha
    %input{type: "password", name: "password_confirmation", class: "input"}

  .field
    %input{type: "submit", class: "button is-dark", value: "Finalizar Cadastro"}
